[Desktop Entry]
X-AppImage-Arch=x86_64
X-AppImage-Version=1.0
X-AppImage-Name=My music
Name=My music
Exec=my_music
Icon=logo
Type=Application
Terminal=false
Categories=Utility;
Comment=
